.search {
	display: flex;
	width: 100%;
	gap: 10px;
	margin-bottom: 30px;
}

.search__wrapper {
	position: relative;
	flex: 1;
	display: flex;
}

.search__wrapper img {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 7px;
	top: 9px;
}

.search__input {
	background: #DEDEDE;
	border: none;
	border-radius: 5px;
	color: #252525;
	padding: 15px 30px 15px 50px;
	flex: 1;
}

.search__input::placeholder {
	color: #494949;
}

.search__button img {
	height: 40px;
	width: 40px;
}
